<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/master.css">
  </head>

  <body>
    <main></main>
    <script src="/dist/bundle.js"></script>
  </body>
</html>