.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-color: white;
  transition: all .15s ease-in-out;
}

.spinner.active {
  background-color: green;
}